<button mat-raised-button (click)="openInventoryDialog()" color="accent">
  <mat-icon>add</mat-icon>
  Add Inventory
</button>

<button class="product" mat-raised-button (click)="openProductDialog()" color="accent">
  <mat-icon>add</mat-icon>
  Add Product
</button>

<mat-grid-list cols="6" rowHeight="50px">
  <mat-grid-tile
    *ngFor="let tile of mytiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>

  <ng-container *ngFor="let row of gridData">
    <mat-grid-tile>
      {{ row.id }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.name }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.description }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.measureUnit }}
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{ row.imageUrl }}" width="30px" />
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.quantity }}
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
