<button mat-raised-button (click)="openInventoryDialog()" color="accent">
  <mat-icon>add</mat-icon>
  Add Inventory
</button>

<button
  class="product"
  mat-raised-button
  (click)="openProductDialog()"
  color="accent"
>
  <mat-icon>add</mat-icon>
  Add Product
</button>

<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  class="example-icon side-bar"
  aria-label="Example icon-button with menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!-- disabled = {{ !links || links.length === 0 }} -->
  <button
    mat-mini-fab
    color="accent"
    (click)="undo()"
    aria-label="Example icon button with a menu icon"
    [disabled]="!links || links.length === 0"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="accent"
    (click)="redo()"
    aria-label="Example icon button with a menu icon"
    class="redo-class"
  >
    <mat-icon>redo</mat-icon>
  </button>
  <mat-nav-list>
    <a mat-list-item href="..." *ngFor="let del of deletedObj; let i = index;" [disabled]="true">
      {{ deletedObj[deletedObj.length-i-1].name }} {{ deletedObj[deletedObj.length - i -1].quantity }}
    </a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item href="..." *ngFor="let link of links; let i = index;">
      {{ links[links.length-i-1].name }} {{ links[links.length - i -1].quantity }}
    </a>
  </mat-nav-list>
</mat-menu>

<mat-grid-list cols="6" rowHeight="50px">
  <mat-grid-tile
    *ngFor="let tile of mytiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>

  <ng-container *ngFor="let row of gridData">
    <mat-grid-tile>
      {{ row.id }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.name }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.description }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.measureUnit }}
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{ row.imageUrl }}" width="30px" />
    </mat-grid-tile>
    <mat-grid-tile>
      {{ row.quantity }}
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
